bin
# *.class
*_Generated.class
*_temp.class
*~
TAGS

annotation-file-utilities/annotation-file-format.aux
annotation-file-utilities/annotation-file-format.blg
annotation-file-utilities/annotation-file-format.dvi
annotation-file-utilities/annotation-file-format.haux
annotation-file-utilities/annotation-file-format.html
annotation-file-utilities/annotation-file-format.htoc
annotation-file-utilities/annotation-file-format.log
annotation-file-utilities/annotation-file-format.out
annotation-file-utilities/annotation-file-format.pdf
annotation-file-utilities/annotation-file-format.ps
annotation-file-utilities/annotation-file-format.toc
annotation-file-utilities/annotation-file-utilities.jar
annotation-file-utilities/annotation-tools.zip
annotation-file-utilities/design.aux
annotation-file-utilities/design.log
annotation-file-utilities/design.pdf

annotation-file-utilities/javadoc

annotation-file-utilities/tests/abbreviated/*.diff
annotation-file-utilities/tests/abbreviated/*.log
annotation-file-utilities/tests/abbreviated/*.output
annotation-file-utilities/tests/enum-imports/*.diff
annotation-file-utilities/tests/enum-imports/*.log
annotation-file-utilities/tests/enum-imports/*.output
annotation-file-utilities/tests/ad-hoc/bridge/A.class
annotation-file-utilities/tests/ad-hoc/bridge/C.class
annotation-file-utilities/tests/ad-hoc/bridge/C.jaif
annotation-file-utilities/tests/source-extension/*.diff
annotation-file-utilities/tests/source-extension/*.log
annotation-file-utilities/tests/source-extension/*.output
annotation-file-utilities/tests/Makefile.user
annotation-file-utilities/tests/system-test/out1
annotation-file-utilities/tests/system-test/out3
annotation-file-utilities/tests/system-test/out4.class
annotation-file-utilities/tests/system-test/out2.diff
annotation-file-utilities/tests/system-test/out2.jaif
annotation-file-utilities/tests/system-test/out5.diff
annotation-file-utilities/tests/system-test/out5.jaif
annotation-file-utilities/tests/*.diff
annotation-file-utilities/tests/*.log
annotation-file-utilities/tests/*.output

asmx/output

scene-lib/javadoc
scene-lib/reports
scene-lib/test/annotations/tests/executable/example-output.jaif
scene-lib/test/annotations/tests/executable/example-stdout.jaif

*.class-via-classfile-scene.txt
*.class-correct-scene.txt
*.class-from-indexfile.txt
*.class-generated-scene.txt

.metadata

annotation-file-utilities/figures/*.eps
annotation-file-utilities/figures/*.pdf
annotation-file-utilities/figures/*.png
annotation-file-utilities/*.png

.run-google-java-format

# User customizations
Makefile.user
build.properties
