sudo: false

language: generic

services:
  - docker

env:
  global:
    - THIS_REPO=annotation-tools
    - OS=ubuntu
# "matrix" only seems to work if there is more than one item specified!
# But, I don't want to have to put the long script within the jobs:include:
# block.  So, always use two jobs (use a dummy if necessary).
  matrix:
    - JDKVER=jdk8 GROUP=test
    - JDKVER=jdkany GROUP=misc
    - JDKVER=jdk8 GROUP=downstream

# The "docker run" command will pull if needed.
# Running this first gives two tries in case of network lossage.
before_script:
- timeout 5m docker pull mdernst/$OS-for-cf-$JDKVER || true

# Using travis_wait here seems to cause the job to terminate after 1 minute
# with no error (!).
# The git commands are tried twice, in case of temporary network failure.
# The fcntl line works around a bug where Travis truncates logs and fails.
script:
- python -c "import fcntl; fcntl.fcntl(1, fcntl.F_SETFL, 0)"
- REMOTE_ORIGIN_URL=`git config --get remote.origin.url`
- echo "THIS_REPO=${THIS_REPO}"
- echo "JDKVER=${JDKVER}"
- echo "GROUP=${GROUP}"
- echo "TRAVIS_BRANCH=${TRAVIS_BRANCH}"
- echo "REMOTE_ORIGIN_URL=${REMOTE_ORIGIN_URL}"
- echo "TRAVIS_EVENT_TYPE=${TRAVIS_EVENT_TYPE}"
- echo "TRAVIS_COMMIT=${TRAVIS_COMMIT}"
- echo "TRAVIS_PULL_REQUEST=${TRAVIS_PULL_REQUEST}"
- echo "TRAVIS_PULL_REQUEST_BRANCH=${TRAVIS_PULL_REQUEST_BRANCH}"
- echo "TRAVIS_PULL_REQUEST_SHA=${TRAVIS_PULL_REQUEST_SHA}"
- echo "TRAVIS_REPO_SLUG=${TRAVIS_REPO_SLUG}"
- >-
  docker run mdernst/$OS-for-cf-$JDKVER /bin/bash -c "true &&
     if [ $TRAVIS_EVENT_TYPE = pull_request ] ; then
       git clone --quiet --depth 9 $REMOTE_ORIGIN_URL $THIS_REPO || git clone --quiet --depth 9 $REMOTE_ORIGIN_URL $THIS_REPO
       cd $THIS_REPO
       git fetch origin +refs/pull/$TRAVIS_PULL_REQUEST/merge
       git checkout -qf $TRAVIS_PULL_REQUEST_SHA
       git config user.email noone@cares.com
       git config user.name Noone Cares
       git remote add theupstream https://github.com/$TRAVIS_REPO_SLUG.git
       git pull --depth 9 theupstream $TRAVIS_BRANCH || git pull --depth 9 theupstream $TRAVIS_BRANCH
     else
       git clone --quiet --depth 9 -b $TRAVIS_BRANCH $REMOTE_ORIGIN_URL $THIS_REPO || git clone --quiet --depth 9 -b $TRAVIS_BRANCH $REMOTE_ORIGIN_URL $THIS_REPO
       cd $THIS_REPO
       git checkout -qf $TRAVIS_COMMIT
     fi &&
     export JAVA_HOME=\`which javac|xargs readlink -f|xargs dirname|xargs dirname\` &&
     java -version &&
     javac -version &&
     export TRAVIS_REPO_SLUG=$TRAVIS_REPO_SLUG &&
     export TRAVIS_BUILD_DIR=$TRAVIS_BUILD_DIR &&
     ./.travis-build.sh $GROUP"

jobs:
  include:
    - stage: trigger-downstream
      script: |
          echo "TRAVIS_BRANCH=$TRAVIS_BRANCH TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
          if [[ ($TRAVIS_BRANCH == master) &&
                ($TRAVIS_PULL_REQUEST == false) ]] ; then
            SLUGOWNER=${TRAVIS_REPO_SLUG%/*}
            if [[ "$SLUGOWNER" == "" ]]; then
              SLUGOWNER=typetools
            fi

            curl -LO --retry 3 https://raw.github.com/mernst/plume-lib/master/bin/trigger-travis.sh

            git ls-remote https://github.com/${SLUGOWNER}/checker-framework.git &>-
            if [ "$?" -eq 0 ]; then
              sh trigger-travis.sh ${SLUGOWNER} checker-framework $TRAVIS_ACCESS_TOKEN
            fi
          fi

git:
  depth: 9
