language: java

script: ./.travis-build.sh

sudo: false

jdk:
  - oraclejdk8

jobs:
  include:
    - stage: trigger-downstream
      jdk: oraclejdk8
      script: |
        echo "TRAVIS_BRANCH=$TRAVIS_BRANCH TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
        if [[ ($TRAVIS_BRANCH == master) &&
              ($TRAVIS_PULL_REQUEST == false) ]] ; then
          curl -LO https://raw.github.com/mernst/plume-lib/master/bin/trigger-travis.sh
          SLUGOWNER=${TRAVIS_REPO_SLUG%/*}
          sh trigger-travis.sh ${SLUGOWNER} checker-framework $TRAVISTOKEN
        fi

git:
  depth: 9
