jobs:
- job: like_travis_build_without_test_jdk8
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/cf-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./.travis-build-without-test.sh
    displayName: .travis-build-without-test.sh
- job: ant_test_jdk8
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/cf-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-allTests.sh
    displayName: test-allTests.sh
- job: typecheck_jdk8
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/cf-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-typecheck.sh
    displayName: test-typecheck.sh
- job: misc_jdk8
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/cf-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-misc.sh
    displayName: test-misc.sh
- job: downstream_jdk8
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/cf-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-downstream.sh
    displayName: test-downstream.sh

trigger:
  batch: true
