# Workaround for https://status.dev.azure.com/_event/179641421
trigger:
  branches:
    include:
    - '*'
  batch: true
pr:
  branches:
    include:
    - '*'
## Version without the workaround
# trigger:
#   batch: true

# Each *_jdkX job depends on build_without_test_jdkX.
# Each jdk11 job depends on canary-jobs (all jdk17 jobs).
# Each jdk11 and jdk20 job depends on the corresponding jdk17 job.

jobs:

- job: canary_jobs
  pool:
    vmImage: 'ubuntu-latest'
  dependsOn:
    - build_without_test_jdk17
    - test_jdk17
    - typecheck_jdk17
    - misc_jdk17
    - downstream_jdk17
  steps:
  - bash: true
    displayName: canary-jobs

- job: build_without_test_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  dependsOn:
    - build_without_test_jdk17
    - canary_jobs
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./.build-without-test.sh
    displayName: .build-without-test.sh
- job: test_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  dependsOn:
    - build_without_test_jdk11
    - test_jdk17
    - canary_jobs
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-allTests.sh
    displayName: test-allTests.sh
- job: typecheck_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  dependsOn:
    - build_without_test_jdk11
    - typecheck_jdk17
    - canary_jobs
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-typecheck.sh
    displayName: test-typecheck.sh
- job: misc_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11-plus:latest
  dependsOn:
    - build_without_test_jdk11
    - misc_jdk17
    - canary_jobs
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-misc.sh
    displayName: test-misc.sh
- job: downstream_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  dependsOn:
    - build_without_test_jdk11
    - downstream_jdk17
    - canary_jobs
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-downstream.sh
    displayName: test-downstream.sh
- job: build_without_test_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./.travis-build-without-test.sh
    displayName: .travis-build-without-test.sh
- job: test_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17:latest
  dependsOn:
    - build_without_test_jdk17
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-allTests.sh
    displayName: test-allTests.sh
- job: typecheck_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17:latest
  dependsOn:
    - build_without_test_jdk17
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-typecheck.sh
    displayName: test-typecheck.sh
- job: misc_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17-plus:latest
  dependsOn:
    - build_without_test_jdk17
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-misc.sh
    displayName: test-misc.sh
- job: downstream_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17:latest
  dependsOn:
    - build_without_test_jdk17
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-downstream.sh
    displayName: test-downstream.sh
- job: build_without_test_jdk20
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk20:latest
  dependsOn:
    - build_without_test_jdk17
    - canary_jobs
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./.build-without-test.sh
    displayName: .build-without-test.sh
- job: test_jdk20
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk20:latest
  dependsOn:
    - build_without_test_jdk20
    - test_jdk17
    - canary_jobs
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-allTests.sh
    displayName: test-allTests.sh
- job: typecheck_jdk20
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk20:latest
  dependsOn:
    - build_without_test_jdk20
    - typecheck_jdk17
    - canary_jobs
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-typecheck.sh
    displayName: test-typecheck.sh
- job: misc_jdk20
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk20-plus:latest
  dependsOn:
    - build_without_test_jdk20
    - misc_jdk17
    - canary_jobs
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-misc.sh
    displayName: test-misc.sh
- job: downstream_jdk20
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk20:latest
  dependsOn:
    - build_without_test_jdk20
    - downstream_jdk17
    - canary_jobs
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./annotation-file-utilities/dev-scripts/test-downstream.sh
    displayName: test-downstream.sh
