# Defines values for the 'build.properties' build properties
# This file is used to build the project in the case of bundled external jars

objectweb.ant.tasks.path config/ow_util_ant_tasks.jar

bcel.path test/lib/bcel-5.1.jar

aspectj.path test/lib/aspectjweaver.jar

serp.path test/lib/serp.jar

javassist.path test/lib/javassist.jar

janino.path test/lib/janino-2.3.4.jar

cobertura.path test/lib/cobertura-1.8.jar;test/lib/jakarta-oro-2.0.8.jar;test/lib/log4j-1.2.9.jar;test/lib/asm-2.2.1.jar

cobertura.runtime.path test/lib/cobertura-1.8.jar